{% extends 'base.html' %}

{% block content %}

<div id="google_element"></div>
<script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
<script>
	function loadGoogleTranslate(){
		new google.translate.TranslateElement("google_element");
	}
</script>
<h1> User Manual </h1>
<p>Dear Reader,</p></br>
<p><b>What is the purpose of this website?</b>The aim of this website is to offer an effective way of the teaching and learning of the Indian sign language and to encourage the
     special educators/deaf students to teach/learn their school subjects through Indian Sign Language. The signs will be displayed in 
     short, continuously repeated video files to learn Indian Sign Language. The subject matter will be explained through Sign Language
      by the subject & Sign Language experts. This helps the deaf students to learn their subjects in an easy way.</p></br>
<p><b>What is Sign Language?</b><br>
    Sign Language is a naturally evolved language like other oral languages. It is used by persons with deafness for day to day life communication. It is considered as a mother tongue of persons with deafness. Like other languages it is also an independent language with complex grammar. It involves naturally evolved visual-manual signs</br>
    <b>Who uses Sign Language? / Who will get the benefit?</b><br>
    Deaf community uses Sign Language with deaf/hearing community to express their ideas or views. Sign Language interpreters use to translate the oral language into visual-manual language to make deaf people to understand the information. Teachers or special educators those who are working with deaf children use Sign Language to teach various subjects and to impart the knowledge. Parents of deaf children use to communicate with their children in day to day life situations. Many other professionals those who are working with persons with deafness use to solve their individual needs.
    <br><b>Where Sign Language can be used?</b><br>
    There are many areas where Sign Language can be used. It can be effectively used in special schools/colleges for the deaf and other types of educational settings. It can also be used in various commercial offices and other public utility places.
    <br><b>Why promote Sign Language?</b><br>
    There is a high need to promote Sign Language. According to Census 2001 there are more than one million deaf people and more than ten million people have hard of hearing in India. In order to serve and uplift the deaf community the Sign Language can be promoted in various areas. It is highly required to give educational, vocational, social and personal guidance & counseling to deaf people. Once the hearing children learn the Sign Language, they can accept deaf children and deaf children mingle with their counterparts which will promote the mainstream/inclusive education. The UNCRPD has emphasized to promote Sign Language in all types of educational institutions. It is a fundamental right of the deaf person to acquire the information through Sign Language.
    <br><b>How to promote sign language?</b><br>
    Sign Language can be effectively promoted through media and awareness / sensitization programmes for people those who are working with deaf community and involving deaf community in various school/college activities.
    <br><b>What is being done by the RKMVU-FDMSE to promote Sign Language?</b><br>
    The Faculty of Disability Management and Special Education of Ramakrishna Mission Vivekananda University is involved in various types of activities since 2005.
    <br>The following are land marks of its history…</p>
    <ul>
        <li>Developed Indian Sign Language Dictionary in 2001 with 1600 words</li>
        <li>Developed Indian Technical Sign Language Dictionary in —– with —- words</li>
        <li>Developed Indian Sign Language for Banking terminology in —- with — words</li>
        <li>Developed Indian Sign Language for Physics terminology in —- with —– words</li>
        <li>Offering Diploma in Indian Sign Language Interpretation since 2005</li>
        <li>Organizing awareness/sensitization programmes for teachers, parents, police officers, air force officers, bank officers and other professionals</li>
        <li>Launched a website on Indian Sign Language</li>
        <li>Launched a Video Relay Service for deaf community</li>
        <li>Involved with CIIL for Corpus on Indian Sign Language</li>
        <li>Involved in research activities on Indian Sign Language</li>
    </ul>
    {% endblock %}